body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
    i.fa.fa-sticky-note { display: none; }
    a.filename { 
      font-size: .8em; 
      margin-left: 0px;
      line-height: .9em;
    }
    .graph-title { font-size: 1rem;}
}